@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
<h1 class="display-4">Signin</h1>
<form action="/auth/login" method="post">
<p>Username: <input type="email" name="email" value="" placeholder="Any email address" required></p>
<p>Password: <input type="password" name="password" placeholder="Any password" required></p>
<input type="hidden" value="/" name="returnUrl"/>
<p><input type="submit"/></p>
<p style="color: gray;">To test admin module access login as @Constants.AdminUserEmail</p>
</form>
</div>