<div class="text-center">
    <h1 class="display-8">Access Denied</h1>
    <h3>You don't have permissions to access that page</h3>
    <h5>Click <a href="/TodoList">here</a> to return to Todo List</h3>
</div>